<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Inter:wght@300;400;500;600;700&display=swap" rel="stylesheet">
    <script src="/lib/plotly-latest.min.js"></script>
    <link rel="stylesheet" href="/css/home.css">
</head>

<body>
<div class="menu">

    <div class="logo">
        <img src="/images/Logo.svg" alt="logo"/>
        <div class="logo-name">
            <h1>Channel Simulator</h1>
            <p>Passa Faixas</p>
        </div>
    </div>

    <form>

        <div class="form-control">
            <label for="f1">Label</label>
            <input type="number" name="f1" id="f1"/>
        </div>
        <div class="form-control">
            <label for="f2">Label</label>
            <input type="number" name="f2" id="f2"/>
        </div>
        <div class="form-control">
            <label for="f3">Label</label>
            <input type="number" name="f3" id="f3"/>
        </div>
    </form>

    <div class="credits">
        <p>Criado por:</p>
        <div class="names">
            <p>Dayane Damaceno</p>
            <p>Duarte Barbosa</p>
            <p>Guilherme Luiz</p>
            <p>Wesley Oliveira</p>
        </div>
    </div>
</div>
<main>
    <div id="graficoSinalEntrada" class="graphic"></div>
    <div id="graficoAmplitudeEntrada" class="graphic"></div>
    <div id="graficoFaseEntrada" class="graphic"></div>
    <div id="graficoCanal" class="graphic"></div>
    <div id="graficoSinalSaida" class="graphic"></div>
    <div id="graficoAmplitudeSaida" class="graphic"></div>
    <div id="graficoFaseSaida" class="graphic"></div>
</main>

<script src="/js/graphics.js"></script>
</body>
</html>
