<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <title>Simulator</title>
    <link rel="shortcut icon" type="imagex/png" href="/images/Logo.svg">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Inter:wght@300;400;500;600;700&display=swap" rel="stylesheet">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-C6RzsynM9kWDrMNeT87bh95OGNyZPhcTNXj1NW7RuBCsyN/o0jlpcV8Qyq46cDfL" crossorigin="anonymous"></script>
    <script src="/lib/plotly-latest.min.js"></script>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/notyf@3/notyf.min.css">
    <link rel="stylesheet" href="/css/home.css">
</head>

<body>
<div class="menu">

    <div class="logo">
        <img src="/images/Logo.svg" alt="logo"/>
        <div class="logo-name">
            <h1>Channel Simulator</h1>
            <p>Passa Faixas</p>
        </div>
    </div>

    <form>

        <div class="control">
            <label for="f1">Frequência do sinal</label>
            <input type="number" name="f1" id="f1"  value="" />
        </div>

        <div class="control">
            <label for="f2">Frequência inicial do canal</label>
            <input type="number" name="f2" id="f2"  value=""/>
        </div>
        <div class="control">
            <label for="f3">Frequência final do canal</label>
            <input type="number" name="f3" id="f3"  value=""/>
        </div>

        <button class="btn" onclick="calcular()" type="button">Calcular</button>
    </form>

    <div class="credits">
        <p>Criado por:</p>
        <div class="names">
            <p>Dayane Damaceno  <a href="https://github.com/DayaneDamaceno/" target="_blank" ><img src="https://i.imgur.com/o2AtzbV.png" style="width:20px;height:20px; float: Left; margin-right: 5px;" alt="Instagram"></a></p>
            <p>Duarte Pires     <a href="https://github.com/duhbp" target="_blank" ><img src="https://i.imgur.com/o2AtzbV.png" style="width:20px;height:20px; float: Left; margin-right: 5px;" alt="Instagram"></a></p>
            <p>Guilherme Luiz   <a href="https://github.com/GuilhermeLuizPinheiro" target="_blank" ><img src="https://i.imgur.com/o2AtzbV.png" style="width:20px;height:20px; float: Left; margin-right: 5px;" alt="Instagram"></a></p>
            <p>Wesley Oliveira  <a href="https://github.com/wesoliver31" target="_blank" ><img src="https://i.imgur.com/o2AtzbV.png" style="width:20px;height:20px; float: Left; margin-right: 5px;" alt="Instagram"></a></p>
        </div>
    </div>
</div>

<div id="empty">
    <img src="/images/empty.svg" alt="">
    <p>Preencha as frequencias necessarias para simular um canal passa faixas</p>
</div>

<div id="loading" class="d-none">
    <img src="/images/bars.svg">
</div>

<div id="content" >
    <div id="graficoSinalEntrada" class="graphic"></div>
    <div id="graficoAmplitudeEntrada" class="graphic"></div>
    <div id="graficoFaseEntrada" class="graphic"></div>
    <div id="graficoAmpliCanal" class="graphic"></div>
    <div id="graficoFaseCanal" class="graphic"></div>
    <div id="graficoSinalSaida" class="graphic"></div>
    <div id="graficoAmplitudeSaida" class="graphic"></div>
    <div id="graficoFaseSaida" class="graphic"></div>
</div>
<script src="https://cdn.jsdelivr.net/npm/notyf@3/notyf.min.js"></script>
<script src="/js/graphics.js"></script>
</body>
</html>
